<div class="row-fluid">
  <div class="span8">
    <div class="user-talks">
      <h4>Saved Talks</h4>
      <div data-js="user-talks"></div>
    </div>
  </div>
</div>
<br />
<div class="row-fluid">
  <div class="span8" data-js="talks"></div>
</div>
