<article class="user-talk">
  <div class="actions">
    <a href="#" class="close" rel="remove">&times;</a>
  </div>
  <div class="name">
    <a href="{{talk.url}}" target="_blank">{{talk.name}}</a>
  </div>
  <div class="speaker">{{talk.speaker}}</div>
</article>
