.user-talks
  background #efefef
  padding 10px

  .user-talk
    position relative
    margin-bottom 1em

    .name
      font-weight bold

    .actions
      float right
      a
        color #333333
